@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #ec6d13;
  --color-primary-light: #fbdcc9;
  --color-primary-dark: #b04f0b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221810;
  --color-text-main: #1b130d;
  --color-text-muted: #9a6c4c;
  --color-card-light: #ffffff;
  --color-card-dark: #362a22;
  --color-neutral-light: #e8e6e4;
  --color-neutral-dark: #3a2d24;
  
  --font-display: "Work Sans", "Noto Sans", sans-serif;
}



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3ece7;
}

::-webkit-scrollbar-thumb {
  background: #d6c6b9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}
